<!DOCTYPE html>
<html>
  <head>
    <title>Newsfeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

  <body>
    <nav>
      <%= link_to root_path, class: "home-link" do %>
        <h2>Newsfeed</h2>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_url, method: :delete, class: 'sign-in-out-button' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-out-button' %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
