<!DOCTYPE html>
<html>
  <head>
    <title>Newsfeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

  <body>
    <nav>
      <%= link_to root_path, class: "home-link", data: { turbolinks: false } do %>
        <h2>Newsfeed</h2>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
